<h1 style="font-family:cursive">Product List</h1>

<a href="/products/addProduct" class="btn btn-outline-success">Add Product</a> </a>

<br><br>
<form action="/products/doSearch" method="POST">

    <div class="form-group">
        <input class="form-control" type="search" name="search" aria-label="Search"style="width: 700px; height:30px" >
        <button class="btn btn-outline-success" type="submit" style="height: 30px;">Search</button>
        {{!-- <input type="text" class="form-control" name="search" class="form-control"> --}} 
     </div>
    {{!-- <div class="form-group">
        <input type="submit" class="btn-primary" name="submit" value="Tim kiem">
        <input type="reset">
    </div> --}}

    
<table class="table table-bordered border-primary"  >
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>Price</th>
         {{!-- <th>Category</th>
         <th>Supplier</th> --}}
          <th>Image</th>
                 <th>Action</th>

    </tr>
    {{#each product3}}
    <tr>
        <td>{{{_id}}}</td>
        <td>{{{name}}}</td>
        <td>{{{price}}}</td>
        
                {{!-- <td>{{{categories}}}</td>
        <td>{{{suppliers}}}</td> --}}
 <td><img width="150px" src="/uploads/{{{avatar}}}" alt=""></td>
        <td><a href="/products/update?id={{{_id}}}"> <i class="fa fa-pen"></i> </a><a href="/products/view?id={{{_id}}}"> <i class="fa fa-eye"></i> </a>
        <a href="/products/delete?id={{{_id}}}&img={{{avatar}}}" onclick="return confirm('Are you sure')"> <i class="fa fa-trash"></i> </a></td>
    </tr>
    {{/each}}
</table>

</form>
